@import url('https://fonts.googleapis.com/css?family=Khand');

* {
    margin: 0;
}

.container {
    width: 120rem;
    height: 67.5rem;
    background: url(./assets/imgs/bg\ 1.png), linear-gradient(270deg, rgba(0, 0, 0, 0.90) 0%, rgba(35, 12, 12, 0.43) 57.24%, rgba(211, 45, 45, 0.00) 100%);

}

.header_icon {
    width: 19.5625rem;
    height: 19.5625rem;
    background: url(./assets/imgs/alpha.png), 50% / cover no-repeat;
    position: absolute;
    top: 1.44rem;
    left: 15.44rem;
}

.header_tittle {
    position: absolute;
    top: 16.19rem;
    left: 7.69rem;
    width: 36.6875rem;
    height: 5.875rem;
    background: #FF2100;
    box-shadow: 0px 0px 10px 0px rgba(245, 47, 47, 0.5);
}

.header_tittleText {
    position: absolute;
    top: 1.5rem;
    left: 13.69rem;
    color: #020202;
    font-family: Khand;
    font-size: 1.875rem;
    font-weight: 900;
}

.center_headerLine {
    position: absolute;
    top: 23.81rem;
    left: 7.69rem;
    width: 36.6875rem;
    height: 1rem;
    stroke-width: 1px;
    stroke: #FF2100;
}

.center_runner {
    position: absolute;
    top: 25.69rem;
    left: 8.88rem;
    width: 34.3125rem;
    height: 7.6875rem;
}

.center_runnerBorder_border {
    position: absolute;
    top: 0.5rem;
    left: 0.25rem;
    width: 6.25rem;
    height: 6.25rem;
    border: 1px solid #7C7C7C;
    background: #252525;
}

.center_runnerBorder_borderIcon {
    position: absolute;
    top: 1.13rem;
    left: 1.12rem;
    width: 4rem;
    height: 4rem;
    background: url(./assets/imgs/runner1.png), 50% / cover no-repeat;
}

.center_runnerBorder_borderBorderkKey {
    position: absolute;
    top: 5.6rem;
    left: 2.31rem;
    width: 1.5625rem;
    height: 1.25rem;
    background: #2D2D2D;
}

.center_runnerBorder_borderBorderkKey_text {
    position: absolute;
    top: -0.3rem;
    left: 0.5rem;
    color: #fff;
    font-family: Khand;
    font-size: 1.25rem;
    font-weight: 500;
}

.center_runnerBorder_borderTopLeft {
    position: absolute;
    top: -0.5rem;
    left: -0.35rem;
    width: 0.65625rem;
    height: 0.59375rem;
    stroke-width: 1px;
    stroke: #FFF;
}

.center_runnerBorder_borderBottomRight {
    position: absolute;
    top: 5.65rem;
    left: 5.85rem;
    width: 0.65625rem;
    height: 0.59375rem;
    stroke-width: 1px;
    stroke: #FFF;
}

.center_runnerBorder_borderLeftRectangle {
    position: absolute;
    top: 1.81rem;
    left: -0.19rem;
    width: 0.375rem;
    height: 2.5625rem;
    background: #484848;
}

.center_runnerBorder_thinLine {
    position: absolute;
    top: 0.5rem;
    left: 7.87rem;
    width: 0.0625rem;
    height: 4.75rem;
    background: #373737;
}

.center_runnerBorder_thickLine {
    position: absolute;
    top: 5.62rem;
    left: 7.75rem;
    width: 0.3125rem;
    height: 1.125rem;
    background: #6B6B6B;
}

.center_runner_Text {
    position: absolute;
    left: 9.44rem;
    color: #939393;
    font-family: Khand;
    font-size: 1.5625rem;
    font-weight: 800;
}

.center_runner_RectangleSpeedEmpty {
    position: absolute;
    top: 3.31rem;
    left: 9.69rem;
    width: 24.625rem;
    height: 0.5625rem;
    background: rgba(0, 0, 0, 0.50);
}

.center_runner_RectangleSpeedEmpty_insert {
    width: 6.125rem;
    height: 0.5625rem;
    background: #494949;
}

.center_runner_RectangleHealthEmpty {
    position: absolute;
    top: 5.62rem;
    left: 9.69rem;
    width: 24.625rem;
    height: 0.5625rem;
    background: rgba(0, 0, 0, 0.50);
}

.center_runner_RectangleHealthEmpty_insert {
    width: 6.125rem;
    height: 0.5625rem;
    background: #494949;
}

.center_runner_SpeedElements {
    position: absolute;
    top: 1.87rem;
    left: 31rem;
    color: #B05555;
    text-align: right;
    font-family: Khand;
    font-size: 0.9375rem;
    font-weight: 800;
}

.center_runner_SpeedElements_insert {
    position: absolute;
    top: 1.87rem;
    left: 29.13rem;
    color: #B05555;
    font-family: Khand;
    font-size: 0.9375rem;
    font-weight: 800;
}

.center_runner_HealthElements {
    position: absolute;
    top: 4.19rem;
    left: 31rem;
    color: #B05555;
    text-align: right;
    font-family: Khand;
    font-size: 0.9375rem;
    font-weight: 800;
}

.center_runner_HealthElements_insert {
    position: absolute;
    top: 4.19rem;
    left: 29.13rem;
    color: #B05555;
    font-family: Khand;
    font-size: 0.9375rem;
    font-weight: 800;
}




.center_tank {
    position: absolute;
    top: 35.25em;
    left: 8.88rem;
    width: 34.3125rem;
    height: 7.6875rem;
}

.center_tankBorder_border {
    position: absolute;
    top: 0.5rem;
    left: 0.25rem;
    width: 6.25rem;
    height: 6.25rem;
    border: 1px solid #7C7C7C;
    background: #252525;
}

.center_tankBorder_borderIcon {
    position: absolute;
    top: 1.13rem;
    left: 1.12rem;
    width: 4rem;
    height: 4rem;
    background: url(./assets/imgs/security1.png), 50% / cover no-repeat;
}

.center_tankBorder_borderBorderkKey {
    position: absolute;
    top: 5.6rem;
    left: 2.31rem;
    width: 1.5625rem;
    height: 1.25rem;
    background: #2D2D2D;
}

.center_tankBorder_borderBorderkKey_text {
    position: absolute;
    top: -0.3rem;
    left: 0.5rem;
    color: #fff;
    font-family: Khand;
    font-size: 1.25rem;
    font-weight: 500;
}

.center_tankBorder_borderTopLeft {
    position: absolute;
    top: -0.5rem;
    left: -0.35rem;
    width: 0.65625rem;
    height: 0.59375rem;
    stroke-width: 1px;
    stroke: #FFF;
}

.center_tankBorder_borderBottomRight {
    position: absolute;
    top: 5.65rem;
    left: 5.85rem;
    width: 0.65625rem;
    height: 0.59375rem;
    stroke-width: 1px;
    stroke: #FFF;
}

.center_tankBorder_borderLeftRectangle {
    position: absolute;
    top: 1.81rem;
    left: -0.19rem;
    width: 0.375rem;
    height: 2.5625rem;
    background: #484848;
}

.center_tankBorder_thinLine {
    position: absolute;
    top: 0.5rem;
    left: 7.87rem;
    width: 0.0625rem;
    height: 4.75rem;
    background: #373737;
}

.center_tankBorder_thickLine {
    position: absolute;
    top: 5.62rem;
    left: 7.75rem;
    width: 0.3125rem;
    height: 1.125rem;
    background: #6B6B6B;
}

.center_tank_Text {
    position: absolute;
    left: 9.44rem;
    color: #939393;
    font-family: Khand;
    font-size: 1.5625rem;
    font-weight: 800;
}

.center_tank_RectangleSpeedEmpty {
    position: absolute;
    top: 3.31rem;
    left: 9.69rem;
    width: 24.625rem;
    height: 0.5625rem;
    background: rgba(0, 0, 0, 0.50);
}

.center_tank_RectangleSpeedEmpty_insert {
    width: 0rem;
    height: 0.5625rem;
    background: #494949;
}

.center_tank_RectangleHealthEmpty {
    position: absolute;
    top: 5.62rem;
    left: 9.69rem;
    width: 24.625rem;
    height: 0.5625rem;
    background: rgba(0, 0, 0, 0.50);
}

.center_tank_RectangleHealthEmpty_insert {
    width: 24.625rem;
    height: 0.5625rem;
    background: #494949;
}

.center_tank_SpeedElements {
    position: absolute;
    top: 1.87rem;
    left: 31rem;
    color: #B05555;
    text-align: right;
    font-family: Khand;
    font-size: 0.9375rem;
    font-weight: 800;
}

.center_tank_SpeedElements_insert {
    position: absolute;
    top: 1.87rem;
    left: 29.13rem;
    color: #B05555;
    font-family: Khand;
    font-size: 0.9375rem;
    font-weight: 800;
}

.center_tank_HealthElements {
    position: absolute;
    top: 4.19rem;
    left: 31rem;
    color: #B05555;
    text-align: right;
    font-family: Khand;
    font-size: 0.9375rem;
    font-weight: 800;
}

.center_tank_HealthElements_insert {
    position: absolute;
    top: 4.19rem;
    left: 29.13rem;
    color: #B05555;
    font-family: Khand;
    font-size: 0.9375rem;
    font-weight: 800;
}






.center_Lightweight {
    position: absolute;
    top: 44.81rem;
    left: 8.88rem;
    width: 34.3125rem;
    height: 7.6875rem;
}

.center_LightweightBorder_border {
    position: absolute;
    top: 0.5rem;
    left: 0.25rem;
    width: 6.25rem;
    height: 6.25rem;
    border: 1px solid #7C7C7C;
    background: #252525;
}

.center_LightweightBorder_borderIcon {
    position: absolute;
    top: 1.13rem;
    left: 1.12rem;
    width: 4rem;
    height: 4rem;
    background: url(./assets/imgs/storm1.png), 50% / cover no-repeat;
}

.center_LightweightBorder_borderBorderkKey {
    position: absolute;
    top: 5.6rem;
    left: 2.31rem;
    width: 1.5625rem;
    height: 1.25rem;
    background: #2D2D2D;
}

.center_LightweightBorder_borderBorderkKey_text {
    position: absolute;
    top: -0.3rem;
    left: 0.5rem;
    color: #fff;
    font-family: Khand;
    font-size: 1.25rem;
    font-weight: 500;
}

.center_LightweightBorder_borderTopLeft {
    position: absolute;
    top: -0.5rem;
    left: -0.35rem;
    width: 0.65625rem;
    height: 0.59375rem;
    stroke-width: 1px;
    stroke: #FFF;
}

.center_LightweightBorder_borderBottomRight {
    position: absolute;
    top: 5.65rem;
    left: 5.85rem;
    width: 0.65625rem;
    height: 0.59375rem;
    stroke-width: 1px;
    stroke: #FFF;
}

.center_LightweightBorder_borderLeftRectangle {
    position: absolute;
    top: 1.81rem;
    left: -0.19rem;
    width: 0.375rem;
    height: 2.5625rem;
    background: #484848;
}

.center_LightweightBorder_thinLine {
    position: absolute;
    top: 0.5rem;
    left: 7.87rem;
    width: 0.0625rem;
    height: 4.75rem;
    background: #373737;
}

.center_LightweightBorder_thickLine {
    position: absolute;
    top: 5.62rem;
    left: 7.75rem;
    width: 0.3125rem;
    height: 1.125rem;
    background: #6B6B6B;
}

.center_Lightweight_Text {
    position: absolute;
    left: 9.44rem;
    color: #939393;
    font-family: Khand;
    font-size: 1.5625rem;
    font-weight: 800;
}

.center_Lightweight_RectangleSpeedEmpty {
    position: absolute;
    top: 3.31rem;
    left: 9.69rem;
    width: 24.625rem;
    height: 0.5625rem;
    background: rgba(0, 0, 0, 0.50);
}

.center_Lightweight_RectangleSpeedEmpty_insert {
    width: 12.3125rem;
    height: 0.5625rem;
    background: #494949;
}

.center_Lightweight_RectangleHealthEmpty {
    position: absolute;
    top: 5.62rem;
    left: 9.69rem;
    width: 24.625rem;
    height: 0.5625rem;
    background: rgba(0, 0, 0, 0.50);
}

.center_Lightweight_RectangleHealthEmpty_insert {
    width: 12.3125rem;
    height: 0.5625rem;
    background: #494949;
}

.center_Lightweight_SpeedElements {
    position: absolute;
    top: 1.87rem;
    left: 31rem;
    color: #B05555;
    text-align: right;
    font-family: Khand;
    font-size: 0.9375rem;
    font-weight: 800;
}

.center_Lightweight_SpeedElements_insert {
    position: absolute;
    top: 1.87rem;
    left: 29.13rem;
    color: #B05555;
    font-family: Khand;
    font-size: 0.9375rem;
    font-weight: 800;
}

.center_Lightweight_HealthElements {
    position: absolute;
    top: 4.19rem;
    left: 31rem;
    color: #B05555;
    text-align: right;
    font-family: Khand;
    font-size: 0.9375rem;
    font-weight: 800;
}

.center_Lightweight_HealthElements_insert {
    position: absolute;
    top: 4.19rem;
    left: 29.13rem;
    color: #B05555;
    font-family: Khand;
    font-size: 0.9375rem;
    font-weight: 800;
}

.footer_rectangleText {
    position: absolute;
    top: 55.31rem;
    left: 9.12rem;
    width: 27.8125rem;
    height: 2.625rem;
    border: 1px solid #363636;
    background: #121212;
}

.footer_rectangleText_icon {
    position: absolute;
    top: 0.69rem;
    left: 0.75rem;
    width: 1.1875rem;
    height: 1.1875rem;
    fill: #5D5D5D;
    background: url(./assets/imgs/Union.png);
}

.footer_rectangleText_text {
    position: absolute;
    top: 0.44rem;
    left: 4.19rem;
    color: #5E5E5E;
    font-family: Khand;
    font-size: 1.125rem;
    font-weight: 600;
}

.footer_rectangleAccept {
    position: absolute;
    top: 55.31rem;
    left: 37.75rem;
    width: 2.625rem;
    height: 2.625rem;
}

.footer_rectangleAccept_icon {
    position: absolute;
    top: 0.37rem;
    left: 0.37rem;
    width: 2.5rem;
    height: 2.5rem;
    background: url(./assets/imgs/Done.png), 50% / cover no-repeat;
}

.footer_rectangleDecline {
    position: absolute;
    top: 55.31rem;
    left: 40.94rem;
    width: 2.625rem;
    height: 2.625rem;
}

.footer_rectangleDecline_icon {
    position: absolute;
    top: 0.12rem;
    left: 0.06rem;
    width: 2.5rem;
    height: 2.5rem;
    background: url(./assets/imgs/Multiply.png), 50% / cover no-repeat;
}

.animations{
    border: 1px solid #363636;
    background: #121212;
}
.animations:hover{
    border: 1px solid #363636;
    background: #FF2100;
}
.aiconA{
    transition: top;
    transition-duration: 0.35s;
}
.aiconA:hover{
    top: 0.45rem;
    background: url(./assets/imgs/Donered.png);
}
.aiconD{
    transition: left;
    transition-duration: 0.35s;
}
.aiconD:hover{
    left: 0.12rem;
    background: url(./assets/imgs/Multiplyred.png);
}
.changcolor:hover{
    background: #FF2100;
}