@import url('https://fonts.googleapis.com/css?family=Khand');

* {
    margin: 0;
    font-size: 0.8333333333333334vw;
    user-select: none;
    -webkit-user-drag: none;
}

.container {
    position: absolute;
    width: 100%;
    height:  100%;
    background: url(./assets/imgs/background.png), linear-gradient(270deg, rgba(0, 0, 0, 0.90) 0%, rgba(35, 12, 12, 0.43) 57.24%, rgba(211, 45, 45, 0.00) 100%);
    background-size: cover;
    overflow: hidden;
}

.header_icon {
    width: 19.5625rem;
    height: 19.5625rem;
    background: url(./assets/imgs/alpha.png);
    position: absolute;
    top: 1.44rem;
    left: 15.44rem;
    background-size: cover;
}

.header_tittle {
    position: absolute;
    top: 16.19rem;
    left: 7.69rem;
    width: 36.6875rem;
    height: 5.875rem;
    background: #FF2100;
    box-shadow: 0px 0px 10px 0px rgba(245, 47, 47, 0.5);
}

.header_tittleText {
    position: absolute;
    top: 1.5rem;
    left: 13.69rem;
    color: #020202;
    font-family: Khand;
    font-size: 1.875rem;
    font-weight: 900;
}

.center_headerLine {
    position: absolute;
    top: 23.81rem;
    left: 7.69rem;
    width: 36.6875rem;
    height: 1rem;
    stroke-width: 1px;
    stroke: #FF2100;
}

.center_runner {
    position: absolute;
    top: 25.69rem;
    left: 8.88rem;
    width: 34.3125rem;
    height: 7.6875rem;
}

.center_runner_Border_border {
    position: absolute;
    top: 0.5rem;
    left: 0.25rem;
    width: 6.25rem;
    height: 6.25rem;
    border: 1px solid #7C7C7C;
    background: #252525;
}

.center_runner_Border_borderIcon {
    position: absolute;
    top: 1.13rem;
    left: 1.12rem;
    width: 4rem;
    height: 4rem;
    background: url(./assets/imgs/Runner.png);
    background-size: cover;
    transition: background-image 0.3s ease;
}

.center_runner_Border_borderBorderkKey {
    position: absolute;
    top: 5.6rem;
    left: 2.31rem;
    width: 1.5625rem;
    height: 1.25rem;
    background: #2D2D2D;
}

.center_runner_Border_borderBorderkKey_text {
    position: absolute;
    top: -0.3rem;
    left: 0.5rem;
    color: #fff;
    font-family: Khand;
    font-size: 1.25rem;
    font-weight: 500;
}

.center_runner_Border_borderTopLeft {
    position: absolute;
    top: -0.5rem;
    left: -0.35rem;
    width: 0.65625rem;
    height: 0.59375rem;
    stroke-width: 1px;
    stroke: #FFF;
}

.center_runner_Border_borderBottomRight {
    position: absolute;
    top: 5.65rem;
    left: 5.85rem;
    width: 0.65625rem;
    height: 0.59375rem;
    stroke-width: 1px;
    stroke: #FFF;
}

.center_runner_Border_borderLeftRectangle {
    position: absolute;
    top: 1.81rem;
    left: -0.24rem;
    width: 0.375rem;
    height: 2.5625rem;
    background: #484848;
}

.center_runnerBorder_thinLine {
    position: absolute;
    top: 0.5rem;
    left: 7.87rem;
    width: 0.0625rem;
    height: 4.75rem;
    background: #373737;
}

.center_runnerBorder_thickLine {
    position: absolute;
    top: 5.62rem;
    left: 7.75rem;
    width: 0.3125rem;
    height: 1.125rem;
    background: #6B6B6B;
}

.center_runner_Text {
    position: absolute;
    left: 9.44rem;
    color: #939393;
    font-family: Khand;
    font-size: 1.5625rem;
    font-weight: 400;
}

.center_runner_RectangleSpeedEmpty {
    position: absolute;
    top: 3.31rem;
    left: 9.69rem;
    width: 24.625rem;
    height: 0.5625rem;
    background: rgba(0, 0, 0, 0.50);
}

.center_runner_RectangleSpeedEmpty_insert {
    width: 6.125rem;
    height: 0.5625rem;
    background: #494949;
}

.center_runner_RectangleHealthEmpty {
    position: absolute;
    top: 5.62rem;
    left: 9.69rem;
    width: 24.625rem;
    height: 0.5625rem;
    background: rgba(0, 0, 0, 0.50);
}

.center_runner_RectangleHealthEmpty_insert {
    width: 6.125rem;
    height: 0.5625rem;
    background: #494949;
}

.center_runner_SpeedElements {
    position: absolute;
    top: 1.87rem;
    left: 31rem;
    color: #B05555;
    text-align: right;
    font-family: Khand;
    font-size: 0.9375rem;
    font-weight: 400;
}

.center_runner_SpeedElements_insert {
    position: absolute;
    top: 1.87rem;
    left: 29.13rem;
    color: #B05555;
    font-family: Khand;
    font-size: 0.9375rem;
    font-weight: 400;
}

.center_runner_HealthElements {
    position: absolute;
    top: 4.19rem;
    left: 31rem;
    color: #B05555;
    text-align: right;
    font-family: Khand;
    font-size: 0.9375rem;
    font-weight: 400;
}

.center_runner_HealthElements_insert {
    position: absolute;
    top: 4.19rem;
    left: 29.13rem;
    color: #B05555;
    font-family: Khand;
    font-size: 0.9375rem;
    font-weight: 400;
}




.center_tank {
    position: absolute;
    top: 35.25em;
    left: 8.88rem;
    width: 34.3125rem;
    height: 7.6875rem;
}

.center_tank_Border_border {
    position: absolute;
    top: 0.5rem;
    left: 0.25rem;
    width: 6.25rem;
    height: 6.25rem;
    border: 1px solid #7C7C7C;
    background: #252525;
}

.center_tank_Border_borderIcon {
    position: absolute;
    top: 1.13rem;
    left: 1.12rem;
    width: 4rem;
    height: 4rem;
    background: url(./assets/imgs/Security.png);
    background-size: cover;
}

.center_tank_Border_borderBorderkKey {
    position: absolute;
    top: 5.6rem;
    left: 2.31rem;
    width: 1.5625rem;
    height: 1.25rem;
    background: #2D2D2D;
}

.center_tank_Border_borderBorderkKey_text {
    position: absolute;
    top: -0.3rem;
    left: 0.5rem;
    color: #fff;
    font-family: Khand;
    font-size: 1.25rem;
    font-weight: 500;
}

.center_tank_Border_borderTopLeft {
    position: absolute;
    top: -0.5rem;
    left: -0.35rem;
    width: 0.65625rem;
    height: 0.59375rem;
    stroke-width: 1px;
    stroke: #FFF;
}

.center_tank_Border_borderBottomRight {
    position: absolute;
    top: 5.65rem;
    left: 5.85rem;
    width: 0.65625rem;
    height: 0.59375rem;
    stroke-width: 1px;
    stroke: #FFF;
}

.center_tank_Border_borderLeftRectangle {
    position: absolute;
    top: 1.81rem;
    left: -0.24rem;
    width: 0.375rem;
    height: 2.5625rem;
    background: #484848;
}

.center_tankBorder_thinLine {
    position: absolute;
    top: 0.5rem;
    left: 7.87rem;
    width: 0.0625rem;
    height: 4.75rem;
    background: #373737;
}

.center_tankBorder_thickLine {
    position: absolute;
    top: 5.62rem;
    left: 7.75rem;
    width: 0.3125rem;
    height: 1.125rem;
    background: #6B6B6B;
}

.center_tank_Text {
    position: absolute;
    left: 9.44rem;
    color: #939393;
    font-family: Khand;
    font-size: 1.5625rem;
    font-weight: 400;
}

.center_tank_RectangleSpeedEmpty {
    position: absolute;
    top: 3.31rem;
    left: 9.69rem;
    width: 24.625rem;
    height: 0.5625rem;
    background: rgba(0, 0, 0, 0.50);
}

.center_tank_RectangleSpeedEmpty_insert {
    width: 0rem;
    height: 0.5625rem;
    background: #494949;
}

.center_tank_RectangleHealthEmpty {
    position: absolute;
    top: 5.62rem;
    left: 9.69rem;
    width: 24.625rem;
    height: 0.5625rem;
    background: rgba(0, 0, 0, 0.50);
}

.center_tank_RectangleHealthEmpty_insert {
    width: 24.625rem;
    height: 0.5625rem;
    background: #494949;
}

.center_tank_SpeedElements {
    position: absolute;
    top: 1.87rem;
    left: 31rem;
    color: #B05555;
    text-align: right;
    font-family: Khand;
    font-size: 0.9375rem;
    font-weight: 400;
}

.center_tank_SpeedElements_insert {
    position: absolute;
    top: 1.87rem;
    left: 29.13rem;
    color: #B05555;
    font-family: Khand;
    font-size: 0.9375rem;
    font-weight: 400;
}

.center_tank_HealthElements {
    position: absolute;
    top: 4.19rem;
    left: 31rem;
    color: #B05555;
    text-align: right;
    font-family: Khand;
    font-size: 0.9375rem;
    font-weight: 400;
}

.center_tank_HealthElements_insert {
    position: absolute;
    top: 4.19rem;
    left: 29.13rem;
    color: #B05555;
    font-family: Khand;
    font-size: 0.9375rem;
    font-weight: 400;
}






.center_Lightweight {
    position: absolute;
    top: 44.81rem;
    left: 8.88rem;
    width: 34.3125rem;
    height: 7.6875rem;
}

.center_Lightweight_Border_border {
    position: absolute;
    top: 0.5rem;
    left: 0.25rem;
    width: 6.25rem;
    height: 6.25rem;
    border: 1px solid #7C7C7C;
    background: #252525;
}

.center_Lightweight_Border_borderIcon {
    position: absolute;
    top: 1.13rem;
    left: 1.12rem;
    width: 4rem;
    height: 4rem;
    background: url(./assets/imgs/Storm.png);
    background-size: cover;
}

.center_Lightweight_Border_borderBorderkKey {
    position: absolute;
    top: 5.6rem;
    left: 2.31rem;
    width: 1.5625rem;
    height: 1.25rem;
    background: #2D2D2D;
}

.center_Lightweight_Border_borderBorderkKey_text {
    position: absolute;
    top: -0.3rem;
    left: 0.5rem;
    color: #fff;
    font-family: Khand;
    font-size: 1.25rem;
    font-weight: 500;
}

.center_Lightweight_Border_borderTopLeft {
    position: absolute;
    top: -0.5rem;
    left: -0.35rem;
    width: 0.65625rem;
    height: 0.59375rem;
    stroke-width: 1px;
    stroke: #FFF;
}

.center_Lightweight_Border_borderBottomRight {
    position: absolute;
    top: 5.65rem;
    left: 5.85rem;
    width: 0.65625rem;
    height: 0.59375rem;
    stroke-width: 1px;
    stroke: #FFF;
}

.center_Lightweight_Border_borderLeftRectangle {
    position: absolute;
    top: 1.81rem;
    left: -0.24rem;
    width: 0.375rem;
    height: 2.5625rem;
    background: #484848;
}

.center_LightweightBorder_thinLine {
    position: absolute;
    top: 0.5rem;
    left: 7.87rem;
    width: 0.0625rem;
    height: 4.75rem;
    background: #373737;
}

.center_LightweightBorder_thickLine {
    position: absolute;
    top: 5.62rem;
    left: 7.75rem;
    width: 0.3125rem;
    height: 1.125rem;
    background: #6B6B6B;
}

.center_Lightweight_Text {
    position: absolute;
    left: 9.44rem;
    color: #939393;
    font-family: Khand;
    font-size: 1.5625rem;
    font-weight: 400;
}

.center_Lightweight_RectangleSpeedEmpty {
    position: absolute;
    top: 3.31rem;
    left: 9.69rem;
    width: 24.625rem;
    height: 0.5625rem;
    background: rgba(0, 0, 0, 0.50);
}

.center_Lightweight_RectangleSpeedEmpty_insert {
    width: 12.3125rem;
    height: 0.5625rem;
    background: #494949;
}

.center_Lightweight_RectangleHealthEmpty {
    position: absolute;
    top: 5.62rem;
    left: 9.69rem;
    width: 24.625rem;
    height: 0.5625rem;
    background: rgba(0, 0, 0, 0.50);
}

.center_Lightweight_RectangleHealthEmpty_insert {
    width: 12.3125rem;
    height: 0.5625rem;
    background: #494949;
}

.center_Lightweight_SpeedElements {
    position: absolute;
    top: 1.87rem;
    left: 31rem;
    color: #B05555;
    text-align: right;
    font-family: Khand;
    font-size: 0.9375rem;
    font-weight: 400;
}

.center_Lightweight_SpeedElements_insert {
    position: absolute;
    top: 1.87rem;
    left: 29.13rem;
    color: #B05555;
    font-family: Khand;
    font-size: 0.9375rem;
    font-weight: 400;
}

.center_Lightweight_HealthElements {
    position: absolute;
    top: 4.19rem;
    left: 31rem;
    color: #B05555;
    text-align: right;
    font-family: Khand;
    font-size: 0.9375rem;
    font-weight: 400;
}

.center_Lightweight_HealthElements_insert {
    position: absolute;
    top: 4.19rem;
    left: 29.13rem;
    color: #B05555;
    font-family: Khand;
    font-size: 0.9375rem;
    font-weight: 400;
}

.footer_rectangleText {
    position: absolute;
    top: 55.31rem;
    left: 9.12rem;
    width: 27.8125rem;
    height: 2.625rem;
    border: 1px solid #363636;
    background: #121212;
}

.footer_rectangleText_icon {
    position: absolute;
    top: 0.69rem;
    left: 0.75rem;
    width: 1.1875rem;
    height: 1.1875rem;
    fill: #5D5D5D;
    background: url(./assets/imgs/Union.png);
    background-size: cover;
}

.footer_rectangleText_text {
    position: absolute;
    top: 0.44rem;
    left: 4.19rem;
    color: #5E5E5E;
    font-family: Khand;
    font-size: 1.125rem;
    font-weight: 400;
}

.footer_rectangleAccept {
    position: absolute;
    top: 55.31rem;
    left: 37.75rem;
    width: 2.625rem;
    height: 2.625rem;
    border: 1px solid #363636;
    background: #121212;

}

.footer_rectangleAccept_icon {
    position: absolute;
    top: 0.37rem;
    left: 0.37rem;
    width: 1.875rem;
    height: 1.875rem;
    background: url(./assets/imgs/Done.png);
    background-size: cover;
    transition: background-image 0.3s ease;
    transition: top;
    transition-duration: 0.35s;
}

.footer_rectangleDecline {
    position: absolute;
    top: 55.31rem;
    left: 40.94rem;
    width: 2.625rem;
    height: 2.625rem;
    border: 1px solid #363636;
    background: #121212;
}

.footer_rectangleDecline_icon {
    position: absolute;
    top: 0.12rem;
    left: 0.06rem;
    width: 2.5rem;
    height: 2.5rem;
    background: url(./assets/imgs/Multiply.png);
    background-size: cover;
    transition: background-image 0.3s ease;
    transition: left;
    transition-duration: 0.35s;
}

.center_runner:hover .center_runner_Border_borderLeftRectangle, .center_runner:hover .center_runnerBorder_thinLine,
.center_runner:hover .center_runnerBorder_thickLine, .center_runner:hover .center_runner_RectangleSpeedEmpty_insert,
.center_runner:hover .center_runner_RectangleHealthEmpty_insert {
    transition-duration: 0.3s;
    background: #FF2100;
}

.center_tank:hover .center_tank_Border_borderLeftRectangle, .center_tank:hover .center_tankBorder_thinLine,
.center_tank:hover .center_tankBorder_thickLine, .center_tank:hover .center_tank_RectangleSpeedEmpty_insert,
.center_tank:hover .center_tank_RectangleHealthEmpty_insert {
    transition-duration: 0.3s;
    background: #FF2100;
}

.center_Lightweight:hover .center_Lightweight_Border_borderLeftRectangle, .center_Lightweight:hover .center_LightweightBorder_thinLine,
.center_Lightweight:hover .center_LightweightBorder_thickLine, .center_Lightweight:hover .center_Lightweight_RectangleSpeedEmpty_insert,
.center_Lightweight:hover .center_Lightweight_RectangleHealthEmpty_insert {
    transition-duration: 0.3s;
    background: #FF2100;
}

.center_runner:hover .center_runner_RectangleSpeedEmpty,
.center_runner:hover .center_runner_RectangleHealthEmpty {
    background: rgba(0, 0, 0, 0.70);
}

.center_tank:hover .center_tank_RectangleSpeedEmpty,
.center_tank:hover .center_tank_RectangleHealthEmpty {
    background: rgba(0, 0, 0, 0.70);
}

.center_Lightweight:hover .center_Lightweight_RectangleSpeedEmpty,
.center_Lightweight:hover .center_Lightweight_RectangleHealthEmpty {
    background: rgba(0, 0, 0, 0.70);
}

.center_runner:hover .center_runner_Text, .center_runner:hover .center_runner_SpeedElements_insert,
.center_runner:hover .center_runner_SpeedElements, .center_runner:hover .center_runner_HealthElements_insert,
.center_runner:hover .center_runner_HealthElements {
    transition-duration: 0.3s;
    font-weight: 900;
}

.center_tank:hover .center_tank_Text, .center_tank:hover .center_tank_SpeedElements_insert,
.center_tank:hover .center_tank_SpeedElements, .center_tank:hover .center_tank_HealthElements_insert,
.center_tank:hover .center_tank_HealthElements {
    transition-duration: 0.3s;
    font-weight: 900;
}

.center_Lightweight:hover .center_Lightweight_Text, .center_Lightweight:hover .center_Lightweight_SpeedElements_insert,
.center_Lightweight:hover .center_Lightweight_SpeedElements, .center_Lightweight:hover .center_Lightweight_HealthElements_insert,
.center_Lightweight:hover .center_Lightweight_HealthElements {
    transition-duration: 0.3s;
    font-weight: 900;
}

<<<<<<< HEAD
.center_runner:hover .center_runner_Border_borderIcon {
    background: url(./assets/imgs/runner.png);
}

.center_tank:hover .center_tank_Border_borderIcon {
    background: url(./assets/imgs/securityred.png);
}

.center_Lightweight:hover .center_Lightweight_Border_borderIcon {
    background: url(./assets/imgs/stormred.png);
=======
.center_runner:hover .center_runnerBorder_borderIcon {
    background: url(./assets/imgs/Runner_Hover.png);
    background-size: cover;
}

.center_tank:hover .center_tankBorder_borderIcon {
    background: url(./assets/imgs/Security_Hover.png);
    background-size: cover;
}

.center_Lightweight:hover .center_LightweightBorder_borderIcon {
    background: url(./assets/imgs/Storm_Hover.png);
    background-size: cover;
>>>>>>> cd69fd9e32e90707e4602e63409ac6c196899b29
}

.center_runner:hover .center_runner_Text {
    transition-duration: 0.3s;
    color: #FF2100;
}

.center_tank:hover .center_tank_Text {
    transition-duration: 0.3s;
    color: #FF2100;
}

.center_Lightweight:hover .center_Lightweight_Text {
    transition-duration: 0.3s;
    color: #FF2100;
}

.center_runner:hover .center_runner_Border_border {
    transition-duration: 0.3s;
    border: 1px solid #FF2100;
    background: #570A0A;
}

.center_tank:hover .center_tank_Border_border {
    transition-duration: 0.3s;
    border: 1px solid #FF2100;
    background: #570A0A;
}

.center_Lightweight:hover .center_Lightweight_Border_border {
    transition-duration: 0.3s;
    border: 1px solid #FF2100;
    background: #570A0A;
}

.center_runner:hover .center_runner_Border_borderBorderkKey {
    transition-duration: 0.3s;
    background: #931717;
}

.center_tank:hover .center_tank_Border_borderBorderkKey {
    transition-duration: 0.3s;
    background: #931717;
}

.center_Lightweight:hover .center_Lightweight_Border_borderBorderkKey {
    transition-duration: 0.3s;
    background: #931717;
}


.footer_rectangleAccept:hover .footer_rectangleAccept_icon {
    background: url(./assets/imgs/Done_Hover.png);
    background-size: cover;
    top: 0.45rem;
}

.footer_rectangleAccept:hover {
    background: #FF2100;
}

.footer_rectangleDecline:hover .footer_rectangleDecline_icon {
    background: url(./assets/imgs/Multiply_Hover.png);
    background-size: cover;
    left: 0.32rem;
}

.footer_rectangleDecline:hover {
    background: #FF2100;
}

.changcolor:hover {
    background: #FF2100;
}